main {
  margin-top: 140px;
  overflow: auto;
  height: calc(100vh - 200px);
}

#categories-page {

  padding: 25px 0;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .submit {
      margin: 0 15px;
    }
  }

  ul {
    margin: 0;

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;
    align-items: center;

    .card {
      position: relative;
      min-width: 175px;
      padding: 5px;
      background-color: rgba(202, 202, 202, 0.2);

      h4 {
        margin: 0;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.6rem;
        height: 1.6rem;

        border: 0;
        background-color: rgba(0, 0, 0, 0.2);


        svg {

          font-size: 1.4rem;
          color: red;
        }
      }
    }
  }
}