main {
  margin-top: 140px;
  overflow: hidden;
}

.header-nav {
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1;

  padding: 5px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #eb5d0b;

  h1 {
    color: white;
  }

  #logo-img {
    width: 150px;
    height: 50px;

    img {
      height: 100%;
      width: auto;
    }
  }

  #auth-logs {
    width: 150px;
    text-align: center;
    color: white;

    button {
      font-weight: bold;
    }
  }
}

.pages-navbar {
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 75px;
  z-index: 1;

  padding: 5px 20px;
  box-shadow: -5px 2px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #db6d2ed8;

  ul {
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    justify-content: space-evenly;

    li {
      list-style-type: none;
      margin: 0 25px;

      a {
        color: white;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}

.login-modal {
  position: absolute;
  top: 30%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  z-index: 1;

  text-align: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  border-radius: 5px;

  .close-login-modal {
    position: absolute;
    top: 10px;
    right: 10px;

    font-size: 0.8rem;
  }

  form {

    button {
      width: 150px;
      height: 40px;
      margin: 20px 0;
      font-size: 1rem;
    }
  }
}

#categories-page {

  padding: 25px 0;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    .submit {
      margin: 0 15px;
    }
  }

  ul {
    margin: 0;

    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;
    align-items: center;

    .card {
      position: relative;
      min-width: 175px;
      padding: 5px;
      background-color: rgba(202, 202, 202, 0.2);

      h4 {
        margin: 0;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 1.6rem;
        height: 1.6rem;

        border: 0;
        background-color: rgba(0, 0, 0, 0.2);


        svg {

          font-size: 1.4rem;
          color: red;
        }
      }
    }
  }
}