main {
  margin-top: 90px;
  overflow: hidden;
}

.header-nav {
  width: 100vw;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1;

  padding: 5px 20px;
  box-shadow: -5px 2px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #eb5d0b;

  #logo-img {
    width: 150px;
    height: 50px;

    img {
      height: 100%;
      width: auto;
    }
  }

  #auth-logs {
    width: 150px;
    text-align: center;


  }
}